<footer id="footer">
  <h2>Skills</h2>
  <ul class="footer-ul">
    <li>HTML 5</li>
    <li>CSS 3</li>
    <li>SCSS</li>
    <li>SASS</li>
    <li>Bootstrap</li>
    <li>Material Design</li>
  </ul>
  <ul class="footer-ul">
    <li>JavaScript</li>
    <li>ECMA6</li>
    <li>TypeScript</li>
    <li>Angular</li>
  </ul>
  <ul class="footer-ul">
    <li>API's</li>
    <li>Firebase</li>
    <li>Express</li>
    <li>MySQL</li>
    <li>Node.js</li>
  </ul>
  <ul class="footer-ul">
    <li><a href="#">Datenschutz</a></li>
    <li><a href="#">Impressum</a></li>
  </ul>
</footer>
