
.container {
  min-height: 100%;

  .box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--xl);

    figure {
        width: 100%;
        height: auto;
        display: none;
        img {
            width: 100%;
            height: auto;
            border-radius: .3rem;
        }

        @media(min-width: 480px){
            display: block;
        }
    }



    h1 {
      margin: 2rem 0;
    }

    .context {
        width: 100%;
        @media(min-width: 1024px){
            width: 75%;
        }
        @media(min-width: 1440px){
            width: 65%;
        }
        @media(min-width: 1920px){
            width: 50%;
        }
    }


    .text {
      color: var(--light-red);
    }
    .strong {
      color: var(--skyblue);
    }

    #more-btn {
      margin: 2rem 0;
      border: none;
      padding: 13px 25px;
      border-radius: 0.3rem;
      background: var(--skyblue);
      color: var(--light-black);
      font-weight: 600;
      letter-spacing: 2px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      a {
        text-decoration: none;
        color: var(--light-black);
      }

      &:active {
        transform: scale(0.94);
        opacity: 0.9;
      }
    }
  }

  .top {
    width: 50px;
    height: 50px;
    padding: .5rem;
    border-radius: .3rem;
    position: fixed;
    top: 50%;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--skyblue);
    opacity: .7;
    a {
      color: var(--light-black);
    }

    .material-symbols-outlined {
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
}
