<app-nav></app-nav>
<div class="container">
  <div class="box">
    <figure>
      <img
        src="assets/img/bg.jpg"
        alt="Ein schreibtisch mit Kaffee und Laptop"
      />
    </figure>
    <h1>Frontend Developer</h1>
    <p class="context">
      <span class="text"><strong>Angular</strong></span>
      <strong class="strong"> Frontend Specialist</strong>, <br />
      <br />
      ob Webseiten oder Webanwendungen oder PWA. Ich entwickle hochperformante
      Anwendungen und Responsive Design, die auf jedes Endgerät gleich gut
      ausschauen. Ich beherrsche alle 4 CRUD Methoden. Sei es mit Rest APIs oder
      MSQL, SQL, oder Firebase spielt keine Rolle. Besitze bereits 1 Jahr
      Berufserfahrung + 1 Jahr Praxis orientiertes Erfahrung. Bisherige
      Berufsprojekte, Material-Wirtschaftssysteme, Lager-Wirtschaft-System und
      vieles mehr.
    </p>
    <button id="more-btn"><a routerLink="/ueber-mich">Mehr erfahren</a></button>
  </div>
  <app-footer></app-footer>
</div>
