<div class="container">
  <div class="box" id="contact">
    <form>
      <h3>Kontakt</h3>
      <label>Vorname</label>
      <input type="text" name="firstname" placeholder="Vorname" />

      <label>Nachname</label>
      <input type="text" name="lastname" placeholder="Nachname" />

      <label>E-Mail</label>
      <input type="email" name="email" placeholder="E-Mail" />

      <label>Nachricht</label>
      <textarea id="message" placeholder="Nachricht: "></textarea>

      <button id="form-btn">Senden</button>

      <div class="row">
        <div class="col">
          <p>Name: Peter Lakatos</p>
          <p>Tel:<a href="tel:+4917642794462">+4917642794462</a></p>
          <p>
            E-Mail:
            <a href="mailto:peter.lakatos@outlook.de">
              peter.lakatos@outlook.de
            </a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
