<app-nav></app-nav>

<div class="container">
  <div class="box">
    <div class="top">
      <h3>Projekte</h3>
    </div>
    <section class="section">
      <app-card
        [img]="'assets/img/diary.jpg'"
        [alt]="'Kontaktbuch Bild'"
        [title]="'Kontaktbuch'"
        [description]="
          'Ein Kontaktbuch, wo Sie alle Ihre Kontakte eintragen können, bearbeiten und natürlich löschen'
        "
        [tools]="'Angular, SCSS, MySQL, Node.js, express'"
      ></app-card>
    </section>
  </div>
</div>
