<div class="container">
  <div class="box">
    <div class="top">
      <h3>Projekte</h3>
    </div>
    <section class="section">
      <div class="card">
        <div class="card-body">
          <figure>
            <img src="assets/img/diary.jpg" alt="Kontakt buch bild" />
          </figure>
        </div>
        <div class="card-footer">
          <p class="first-text">
            <span>Kontaktbuch <br /><br /></span>
            Ein Kontaktbuch, wo Sie alle Ihre Kontakte eintragen können,
            bearbeiten und natürlich löschen
          </p>
          <p class="last-text">
            Angular, SCSS, TypeScript, Node.js, express
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
