<app-nav></app-nav>

<div class="container">
  <div class="box" id="ueber-mich">
    <div class="flex1">
      <figure>
        <img src="assets/img/Lakatos.jpg" alt="Mein profil bild" />
      </figure>
    </div>
    <div class="flex2">
      <h2>Peter Lakatos</h2>
      <p class="first-text">
        <span class="color-text"
          >Frontend <span class="color-text2">Entwickler</span></span
        >
      </p>

      <p class="second-text">
        Willkommen auf mein Portfolio Webseite,
        <br /><br />
        ich bin ein leidenschaftlicher Frontendentwickler aus Nürnberg. Ich habe
        die IT Welt-entdeckt vor 2 Jahren erstmal begann ich mich mit HTML, CSS,
        und JavaScript mich zu beschäftigen neben mein Vollzeitjob. Relativ nach
        einer kurzen Zeit habe ich bemerkt, wie gut zu mir das Frontend
        Entwicklung passt. So habe mich entschieden mich Weiterzubilden beim
        Cimdata wo ich ein Kurs als Frontend Entwickler erfolgreich
        abgeschlossen habe.
        <br /><br />
        Worauf achte ich während einer Entwicklung? Zu meinen Prioritäten zählen
        responsives Design, was auf jedes Endgerät gleich gut ausschaut,
        Performanz, Usability, wieder verwendbares Code und leicht anpassbares,
        und lesbares Code. Ich habe paar bespiele hier für Sie Entwickelt. Habe
        ich Ihr Interesse geweckt, dann freu mich auf Ihren Anruf oder einfach
        bequem über mein Kontaktformular können Sie mir eine Nachricht
        hinterlassen. Nach Eingang Ihre Nachricht werde Sie innerhalb 48 Stunden
        kontaktieren.
      </p>
      <button id="contact-btn">
        <a routerLink="/kontakt">Kontaktieren</a>
      </button>
    </div>
  </div>
</div>
